name: Pytest

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: '*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "tests"
  tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          sudo apt-get install build-essential libpoppler-cpp-dev pkg-config python3-dev
          python -m pip install --upgrade pip
          pip install -U pip setuptools wheel
          pip install -U spacy
          python -m spacy download en_core_web_sm
          pip install -r requirements.txt
          pip install '.[test]'
      - name: Testing the code with pytest
        run: |
          PYTHONPATH=. pytest
